.vscode
*/.fabric
*/audioplayer*
*/libraries
**/logs
**/versions
**/world*
*/ops.json
*/usercache.json
*/banned*.json
*/cache
*/crash-reports
*/modules
*/.console_history
*/version_history.json
*/lang
**/[Ll]uck[Pp]erms/translations
**/*logs*